/* shorthand */
.flex { display: flex;}
.relative { position: relative;}
.right { right: 0}
.left { left: 0}
.top { top: 0}
.top20 { top: 20px}
.bottom30 { bottom: 30px}
.absolute { position: absolute;}
.logo-font { font-family: 'Abril Fatface', cursive; font-size: 48px; }

.column { flex-direction: column;}
.row { flex-direction: row;}
.justify-content-center { justify-content: center;}
.justify-content-end { justify-content: flex-end;}
.align-items-center { align-items: center;}
.align-items-end { align-items: flex-end;}
.flex-center { display: flex; justify-content: center; align-items: center;}
.inline-flex { display: inline-flex;}
.block { display: block; }
.overflow-hidden { overflow: hidden;}
.rounded-corners { border-radius: 5px; }

.text-xl { font-size: 40px; }
.text-large { font-size: 28px; }
.text-medium { font-size: 16px; }
.text-small { font-size: 8px; }
.text-align-center {text-align: center; }
.bold {font-weight: bold;}

.w100p { width: 100%;}
.w100 { width: 100px;}
.h100 { height: 100px;}
.w200 { width: 200px;}
.h200 { height: 200px;}
.w300 { width: 300px;}
.h300 { height: 300px;}
.w500 { width: 500px;}

.m0 { margin: 0 !important; }
.mAuto { margin: auto; }
.mb5 { margin-bottom: 5px;}
.mb10 { margin-bottom: 10px;}
.mb20 { margin-bottom: 20px;}
.mb30 { margin-bottom: 30px;}
.mb40 { margin-bottom: 40px;}
.mb60 { margin-bottom: 60px;}

.mr5 { margin-right: 5px;}
.mr10 { margin-right: 10px;}
.mr20 { margin-right: 20px;}
.mr40 { margin-right: 40px;}

.ml5 { margin-left: 5px;}
.ml10 { margin-left: 10px;}
.ml20 { margin-left: 20px;}
.ml40 { margin-left: 40px;}

.mt5 { margin-top: 5px;}
.mt10 { margin-top: 10px;}
.mt20 { margin-top: 20px;}
.mt40 { margin-top: 40px;}
.mt80 { margin-top: 80px;}

.p10 { padding: 10px;}
.p20 { padding: 20px;}

.background-gray { background-color: lightgray;}
.background-white { background-color: white;}
.text-green { color: green; }
.text-gray { color: gray; }
.text-gray-light { color: lightgray; }
.pointer { cursor: pointer; }
.underline { text-decoration: underline;}
.word-break { word-break: break-word;}